@import url("https://fonts.googleapis.com/css?family=Ewert&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: "Ewert", cursive;
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  text-align: center;
  font-size: 1.4rem;
  width: 90vw;
  margin: 8rem auto;
  background: #f6f6f6;
  color: grey;
  padding: 0.2rem;
  letter-spacing: 3px;
}
